/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
*/

@import "bootstrap-sprockets";
@import "bootstrap";
@import "materialize";
@import "https://fonts.googleapis.com/icon?family=Material+Icons";


#courses-title {
  font-size: 2em;
  color: white;
  line-height: 0.8em;
  margin-top: 0.8vh;
}

#courses-create {

}

.courses-container {
  background-color: #7986cb;
  padding-bottom: 0.8vh;
  padding-top: 2.2vh;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

main {
    flex: 1 0 auto;
}
